#todoItemList {
  min-width: 60vw;
  max-width: 100vw;
  display: block;
  margin: .5rem;
}

#itemAssignee {
  padding-left: 2rem;
}

#difficultyText {
  text-align: right;
}

#taskCloseButton {
  float: right;
}
